flows_sosthene-N550JK.json
[{"type":"tab","id":"99bba521.664458","label":"Flow1"},{"type":"tab","id":"4271405b.bd8ec","label":"Flow 1"},{"id":"3425c16d.cbda3e","type":"websocket-listener","z":"99bba521.664458","path":"ws://localhost:9000/wsNodeRed","wholemsg":"true"},{"id":"4738f17e.b8c71","type":"ui_tab","z":"99bba521.664458","name":"Home","icon":"dashboard","order":"1"},{"id":"f9fd26af.0602d8","type":"ui_tab","z":"99bba521.664458","name":"Visual","icon":"dashboard","order":"1"},{"id":"d3425691.2cbda8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179,"y":93,"inputWires":[],"wires":[["acf57129.530a9"]]},{"id":"88b73430.7748c8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":244,"inputWires":[],"wires":[["aee3c5b8.511c38"]]},{"id":"d6bc2096.2943e","type":"lower-case","z":"99bba521.664458","name":"","x":676,"y":216,"inputWires":[["acf57129.530a9"],["aee3c5b8.511c38"]],"wires":[["57fb9735.a80468"]]},{"id":"57fb9735.a80468","type":"debug","z":"99bba521.664458","name":"","active":true,"console":"false","complete":"false","x":1046,"y":436,"inputWires":[["d6bc2096.2943e","735a684a.8ca598","1dd5b78a.e22a48","d39635c3.2c69c8","624722d5.9db8dc"]],"wires":[]},{"id":"acf57129.530a9","type":"function","z":"99bba521.664458","name":"function_Name_001","func":"\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"inputs":"1","noerr":0,"x":450,"y":58,"inputWires":[["d3425691.2cbda8"]],"wires":[["d6bc2096.2943e"]]},{"id":"aee3c5b8.511c38","type":"function","z":"99bba521.664458","name":"function_Name_002","func":"var date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":"2","inputs":"1","noerr":0,"x":444,"y":271,"inputWires":[["88b73430.7748c8","b1b25540.4e4da8"]],"wires":[["d6bc2096.2943e"],[]]},{"id":"b1b25540.4e4da8","type":"MarketData","z":"99bba521.664458","path":"wss://echo.websocket.org","name":"ddd","x":201,"y":433,"inputWires":[],"wires":[["aee3c5b8.511c38"]]},{"id":"735a684a.8ca598","type":"function","z":"99bba521.664458","name":"RSI","func":"//operation: String, indicatorName: String, \n// parameter: String\n\nvar test={ \"operation\" : 'GetCurrentIndicator',\n           \"indicatorName\" : 'rsi',\n           \"parameter\" : 14\n}\n\nif( msg.payload.data ){\n    node.status({text:\"rsi:\"+msg.payload.data});  \n    msg.payload=msg.payload.data;\n    return [null, msg ]    \n}if(msg.payload.stateOrderManager ){\n    //do nothing\n    return [null,null]\n}else{\nmsg.payload = test;\nreturn [msg,null]\n}","outputs":"2","inputs":"1","noerr":0,"x":725,"y":690,"inputWires":[["192b7146.e6d48f"]],"wires":[["2b51b04d.d4ae5","57fb9735.a80468"],[]]},{"id":"2b51b04d.d4ae5","type":"websocket out","z":"99bba521.664458","name":"local play","server":"3425c16d.cbda3e","client":"","x":1034,"y":531,"inputWires":[["735a684a.8ca598","1dd5b78a.e22a48","691a531b.96e5ac","d2bd18af.2d42e8"]],"wires":[]},{"id":"1dd5b78a.e22a48","type":"function","z":"99bba521.664458","name":"request new data","func":"//test envoi request to server\nvar test={ \"operation\" : 'getnewdata'}\nmsg.payload = test;\n\nreturn msg;","outputs":1,"inputs":"1","noerr":0,"x":657,"y":531,"inputWires":[["6115b7c9.9eea48"]],"wires":[["2b51b04d.d4ae5","57fb9735.a80468"]]},{"id":"6115b7c9.9eea48","type":"inject","z":"99bba521.664458","name":"Request new data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":530,"inputWires":[],"wires":[["1dd5b78a.e22a48","624722d5.9db8dc"]]},{"id":"192b7146.e6d48f","type":"websocket in","z":"99bba521.664458","name":"Get Server Data","server":"3425c16d.cbda3e","client":"","x":142,"y":695,"inputWires":[],"wires":[["d39635c3.2c69c8","735a684a.8ca598","98b391a4.674c7","ad760843.5289f8"]]},{"id":"d39635c3.2c69c8","type":"function","z":"99bba521.664458","name":"Show High price","func":"var high=msg.payload.high\nif( high ){\n msg.payload = high\n node.status({text:\"high:\"+high});   \n return msg;   \n}else{\n\n return null\n}","outputs":1,"inputs":"1","noerr":0,"x":526,"y":435,"inputWires":[["192b7146.e6d48f"]],"wires":[["57fb9735.a80468"]]},{"id":"624722d5.9db8dc","type":"function","z":"99bba521.664458","name":"hhhj","func":"node.error(\"Oh no, something bad happened\");\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":710,"y":797,"inputWires":[["6115b7c9.9eea48","6dc422e3.923bdc"]],"wires":[["57fb9735.a80468"]]},{"id":"6dc422e3.923bdc","type":"inject","z":"99bba521.664458","name":"hjjkzkz","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":797,"inputWires":[],"wires":[["624722d5.9db8dc"]]},{"id":"658c71e.f9a739","type":"inject","z":"4271405b.bd8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":153,"inputWires":[],"wires":[["801258c9.7feda8"]]},{"id":"ff4e83b9.00b18","type":"inject","z":"4271405b.bd8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":331,"inputWires":[],"wires":[["e06e62e.f1f91a"]]},{"id":"b83b211d.47c4e","type":"debug","z":"4271405b.bd8ec","name":"","active":true,"console":"false","complete":"false","x":786,"y":271,"inputWires":[["e83940a2.17c6c"]],"wires":[]},{"id":"801258c9.7feda8","type":"function","z":"4271405b.bd8ec","name":"f1","func":"var date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString()+\"f1\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":342,"y":153,"inputWires":[["658c71e.f9a739"]],"wires":[["e83940a2.17c6c"]]},{"id":"e06e62e.f1f91a","type":"function","z":"4271405b.bd8ec","name":"f2","func":"var date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString()+\"f2\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":326,"y":330,"inputWires":[["ff4e83b9.00b18"]],"wires":[["e83940a2.17c6c"]]},{"id":"e83940a2.17c6c","type":"function","z":"4271405b.bd8ec","name":"","func":"\nreturn msg;","outputs":1,"inputs":"2","noerr":0,"x":524,"y":270,"inputWires":[["801258c9.7feda8"],["e06e62e.f1f91a"]],"wires":[["b83b211d.47c4e"]]},{"id":"36bb032.fc944fc","type":"syncMultiInputs","z":"4271405b.bd8ec","name":"SyncMultiInputs","x":379,"y":505,"inputWires":[["ee93a0bc.116c6"]],"wires":[[]]},{"id":"ee93a0bc.116c6","type":"inject","z":"4271405b.bd8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":505,"inputWires":[],"wires":[["36bb032.fc944fc"]]},{"id":"691a531b.96e5ac","type":"function","z":"99bba521.664458","name":"request update position manager","func":"//test envoi request to server\nvar test={ \"operation\" : 'updatePositionsManager'}\nmsg.payload = test;\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":558,"y":601,"inputWires":[["1cd0c452.e32f3c","aedb62bf.5124a"]],"wires":[["2b51b04d.d4ae5"]]},{"id":"1cd0c452.e32f3c","type":"inject","z":"99bba521.664458","name":"Update positions manager","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":600,"inputWires":[],"wires":[["691a531b.96e5ac"]]},{"id":"98b391a4.674c7","type":"function","z":"99bba521.664458","name":"show Waiting positions","func":"var nbrWaiting=msg.payload.stateOrderManager.waitingOrders\nif( nbrWaiting ){\n msg.payload = nbrWaiting\n node.status({text:\"nbrWaiting:\"+nbrWaiting});   \n return msg;   \n}else{\n\n return null\n}","outputs":1,"inputs":1,"noerr":0,"x":514,"y":901,"inputWires":[["192b7146.e6d48f"]],"wires":[["8da9a761.725658","e343e8b2.1cbc18","ee7b72d.f11849"]]},{"id":"aedb62bf.5124a","type":"ui_button","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"Update positions manager","payload":"","topic":"","group":"Group1","order":1,"x":183,"y":898,"inputWires":[],"wires":[["691a531b.96e5ac"]]},{"id":"8da9a761.725658","type":"ui_text","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"show waiting ordres","group":"group2","order":1,"format":"WaitingOrders:{{msg.payload}}","x":794,"y":870,"inputWires":[["98b391a4.674c7"]],"wires":[]},{"id":"b4e5508d.4b1ab","type":"ui_button","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"New Order","payload":"","topic":"","group":"Group1","order":1,"x":162,"y":1025,"inputWires":[],"wires":[["d2bd18af.2d42e8"]]},{"id":"d2bd18af.2d42e8","type":"function","z":"99bba521.664458","name":"newOrderRequest","func":"//operation: String, indicatorName: String, \n// parameter: String\n\nvar test={ \"operation\" : 'createneworder',\n           \"value\" : 20.4\n}\nmsg.payload=test;\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":764,"y":1025,"inputWires":[["b4e5508d.4b1ab"]],"wires":[["2b51b04d.d4ae5"]]},{"id":"ad760843.5289f8","type":"function","z":"99bba521.664458","name":"Show open positions","func":"var openPositions=msg.payload.stateOrderManager.openPositions\nif( openPositions ){\n msg.payload = openPositions\n node.status({text:\"openPositions:\"+openPositions});   \n return msg;   \n}else{\n\n return null\n}","outputs":1,"inputs":1,"noerr":0,"x":522,"y":1135,"inputWires":[["192b7146.e6d48f"]],"wires":[["d20a21c.f2df5e"]]},{"id":"d20a21c.f2df5e","type":"ui_text","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"show open positions","group":"group2","order":1,"format":"OpenPositions:{{msg.payload}}","x":802,"y":1139,"inputWires":[["ad760843.5289f8"]],"wires":[]},{"id":"e343e8b2.1cbc18","type":"ui_chart","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"Waiting orders","group":"group3","order":1,"interpolate":"step-after","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":777,"y":957,"inputWires":[["98b391a4.674c7"]],"wires":[[],[]]},{"id":"ee7b72d.f11849","type":"ui_gauge","z":"99bba521.664458","tab":"4738f17e.b8c71","name":"waiting orders:","group":"group3","order":1,"format":"nbr orders:{{value}}","min":0,"max":10,"x":793,"y":1086,"inputWires":[["98b391a4.674c7"]],"wires":[]}]